html,body {
  height: 100%;
  width: 100%;
}

.navbar-brand {
  padding: 0px 35px;
  min-height: 115px;
}

.navbar {
  background-color: #FFF;
  padding: 5px 15px;
  font-size: 1.3em;
}

.navbar-nav {
  position: relative;
  margin: 32px;
}

.navbar-default .navbar-nav>li>a {
  color: #202020;
}

.navbar-default .navbar-nav>li>a:hover {
  color:rgb(102,102,184);
}
.navbar-default .navbar-nav>li>.active {
  left: 265%;
}

.navbar-nav>li>.dropdown-menu:hover {
  background-color: #ADFF2F;
}

.dropdown-menu>li>a:hover {
  background-color: yellow;
}

#home {
  background: url(../../images/alaska_1.jpg) no-repeat center center fixed;
  display: table;
  height: 700px;
  position: relative;
  width: 100%;
  background-size: cover;
  /*margin-top: 126px;*/
}

#home:hover {
  background: url(../../images/alaska_2.jpg) no-repeat center center fixed;
  display: table;
  height: 700px;
  position: relative;
  width: 100%;
  background-size: cover;
  /*margin-top: 126px;*/
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.main-title {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 500%;
}

h1::first-letter {
  font-size: 200%;
}

.container {
  background: url(../../images/alaska_2.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

h2 {
  margin-left: 50px;
  color: white;
}

.news {
  transition: box-shadow .3s;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}

.news:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.comment {
  float: right;
}

.form-position {
  padding-top: 8%;
  margin-right: 100px;
}

.form-group>input {
  width: 100%;
  line-height: 2;
}

.jumbotron {
  opacity: 0.9;
}

.card-header {
  padding: .75em 1.25em;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
}

.hr{
  width: 15%;
}

.back_home a {
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(240,255,255,0.09);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:rgb(68,157,68);
  color: white;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#myBtn:hover, .btn-success:hover, .back_home a:hover {
  background-color:rgba(102,102,184,0.8);
}
 
footer {
  width: 100%;
}
.fa-2x {
  padding: 10px;
}

.fa:hover {
  text-decoration: none;
  color: #D5D5D5  
}