body
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(../../public/images/alaska_2.jpeg) no-repeat center center fixed;
}

.blue.lighten-5
{
  width: 55%;
  border-radius: 5px;
}

#main-title,#author-header-preface
{
  font-family: 'Amatic SC', cursive;
}

#author-preface
{
  font-family: 'Kalam', cursive;
}
h6
{
  padding: 5px;
}
main
{
  flex: 1 0 auto;
}
#mobile-demo>li.welcome {
  text-align: center;
  font-weight: 700;
  background-color: lightcyan;
}

a.sidenav-trigger
{
    color: #26a69a;
}

img.responsive-img 
{
  padding-top: 2px;
}

footer.page-footer 
{
  background-color: #263238;
}

.fa-lg 
{
  padding: 5px;
}

@media screen and (max-width: 600px) {

 a>img.responsive-img {
    max-width: 87%;
  }

  h1.title {
    font-size: 3em;
    margin-left: 20px;
  }
  h5#author-header-preface {
    font-size: 12px;
  }
  h6#author-preface {
    font-size: 10px;
  }
  .blue.lighten-5 {
    width: 100%;
    padding: 5px;
  }
  h5.grey-text.text-darken-2 {
    font-size: 12px;
    line-height: 2px;
  }
  h6.post-date {
    font-size: 10px;
    padding: 0;
  }
  h6.right {
    font-size: 11px;
    padding: 0;
  }
  .waves-effect.btn {
    font-size: 9px;
  }
  p>img {
    margin-left: 89px;
  }
  ul.left-position>li.left-align {
    padding-left: 65px;
  }
  .footer-copyright {
    font-size: 10px;
  }
}
